*.pem
*.log

# Syncthing
syncthing/.local/state/syncthing/index-v2/
syncthing/.local/state/syncthing/key.pem
syncthing/.local/state/syncthing/cert.pem
syncthing/.local/state/syncthing/https-key.pem
syncthing/.local/state/syncthing/https-cert.pem
syncthing/.local/state/syncthing/syncthing.lock


# Ignorar plugins instalados y archivos de estado de Neovim
**/nvim/.config/nvim/plugin/
**/nvim/.config/nvim/undo/

# ignorar algunos servicios del sistema
default.target.wants
graphical-session.target.wants
tailscale-systray.service

# Orca Slicer
**/OrcaSlicer/cache/
**/OrcaSlicer/log/
**/OrcaSlicer/plugins/

# OpenClaw
systemd-user/.config/systemd/user/openclaw-gateway.service
