[Unit]
Description=Cerrar Brave de forma segura (Wrapper)
Before=graphical-session.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/true
ExecStop=/usr/bin/bash -c "pkill -15 brave; sleep 3"

[Install]
WantedBy=default.target
