[Unit]
Description=Fast, IPC-controlled wallpaper utility for Hyprland.
Documentation=https://wiki.hyprland.org/Hypr-Ecosystem/hyprpaper/
PartOf=graphical-session.target
Requires=graphical-session.target
#After=graphical-session.target
After=wayland-session@hyprland.desktop.target
PartOf=wayland-session@hyprland.desktop.target
ConditionEnvironment=WAYLAND_DISPLAY

[Service]
Type=simple
ExecStart=/usr/bin/hyprpaper
Slice=session.slice
Restart=on-failure

[Install]
#WantedBy=graphical-session.target
WantedBy=wayland-session@hyprland.desktop.target
