[Unit]
Description=OpenSnitch UI
After=network.target graphical-session.target
BindsTo=graphical-session.target
PartOf=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/opensnitch-ui --background
Restart=always
RestartSec=5

[Install]
WantedBy=graphical-session.target
