[Unit]
Description=TrueNAS stefano sshfs(TFTP) Mount
After=network-online.target
Wants=network-online.target
Conflicts=truenas-share-smb-mount.service

[Service]
Type=simple
# Lógica de fallback integrada
# Usamos rclone para montar el SMB sin ser root
ExecStart=/bin/bash -c 'if %h/.scripts/check_truenas.sh > /dev/null; then \
    REMOTE="192.168.100.10"; \
    else REMOTE="100.67.110.117"; fi; \
    /usr/bin/sshfs -f \
    -o IdentityFile=~/.ssh/id_ed25519,reconnect,ServerAliveInterval=15 \
    stefano@$$REMOTE:/mnt/Datos/private/stefano \
    /media/stefano/truenas-stefano'

ExecStop=/usr/bin/fusermount -u /media/stefano/truenas-stefano
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
