[Desktop Entry]
Version=1.0
Name=Whatsapp Web
Comment=Web App
Exec=chromium --app="https://web.whatsapp.com" --class=WebApp-WhatsappWeb1304 --name=WebApp-WhatsappWeb1304 --user-data-dir=/home/stefano/.local/share/ice/profiles/WhatsappWeb1304 --external-navigation-delegate --log-level=3 --disable-gpu-vsync --disable-sync --disable-component-update --disable-default-apps --no-pings --disable-background-networking --process-per-site --js-flags="--max-semi-space-size=1 --max-old-space-size=256" --gcm-checkin-url="[http://127.0.0.1](http://127.0.0.1)"  --gcm-mcs-url="[http://127.0.0.1](http://127.0.0.1)"
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=/home/stefano/.local/share/ice/icons/WhatsappWeb.png
Categories=GTK;Utility;
MimeType=text/html;text/xml;application/xhtml_xml;
StartupWMClass=WebApp-WhatsappWeb1304
StartupNotify=true
X-WebApp-Browser=Chromium
X-WebApp-URL=https://web.whatsapp.com
X-WebApp-CustomParameters=--external-navigation-delegate --log-level=3 --disable-gpu-vsync --disable-sync --disable-component-update --disable-default-apps --no-pings --disable-background-networking --process-per-site --js-flags="--max-semi-space-size=1 --max-old-space-size=256" --gcm-checkin-url="[http://127.0.0.1](http://127.0.0.1)"  --gcm-mcs-url="[http://127.0.0.1](http://127.0.0.1)"
X-WebApp-Navbar=false
X-WebApp-PrivateWindow=false
X-WebApp-Isolated=true

